{% extends 'base.html.twig' %}

{% block title %}Inscription SemihEciné{% endblock %}

{% block content %}
    <meta name="viewport" content="width=device-width, initial-scale=1">


    {{ form_start(form) }}


    <div class="mt-5 container">

        <h1 class="h3 mb-3 font-weight-normal">Inscription</h1>
        <label for="">Votre Email</label>
        {{ form_row(form.email) }}

        <label for="">Votre Mot de passe</label>
        {{ form_row(form.password.first) }}
        <label for="">Confirmer votre Mot de passe</label>
        {{ form_row(form.password.second) }}

        {{ form_row(form.submit) }}
    </div>
    {{ form_end(form) }}

{% endblock %}