{% extends 'base.html.twig' %}

{% block title %}Inscription SemihEciné{% endblock %}

{% block content %}
    <meta name="viewport" content="width=device-width, initial-scale=1">


    {{ form_start(form) }}


    <div class="form-control container mt-5">
        <div id="legend">
            <legend class="">Inscription</legend>
        </div>

        <div class="control-group">
            <!-- E-mail -->
            <label class="control-label" for="email">Votre E-mail</label>
            <div class="controls">
                {{ form_row(form.email) }}
            </div>
        </div>

        <div class="control-group">
            <!-- Password-->
            <label class="control-label" for="password">Mot de passe</label>
            <div class="controls">
                {{ form_row(form.password.first) }}
            </div>
        </div>

        <div class="control-group">
            <label class="control-label"  for="password_confirm">Confirmer votre mot de passe</label>
            <div class="controls">
                {{ form_row(form.password.second) }}
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                {{ form_row(form.submit) }}
            </div>
        </div>
    </div>
    {{ form_end(form) }}


{% endblock %}